body{
    width: 1080px;
    margin: 0 auto;
    font-family: 'Exo', sans-serif;
    background-color: #1b173d;
    color: #FFFFFF;
}



nav{
    padding: 1rem;
}

nav ul {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
}

.welcome{
    padding: 1rem;
}

.pictureOfDay{
    margin-top: 3rem;
}



img{
    max-width: 1000px;
    max-height: 780px;
}

@media only screen and (max-width: 600px){
    body{
        width: 600px;
    }

    .pictureContainer{
        width: 600px;
    }
}

@media only screen and (max-width: 800px){
    body{
        width: 960px;
    }
}

