body{
    width: 1080px;
    font-family: 'Exo', sans-serif;
    margin: 0 auto;
    
    color: #FFFFFF;
}

.container, 
header,
.weatherPage{
    background-color: #1b173d;
}



nav{
    padding: 1rem;
    border-bottom: 1px solid #f70008;
}

nav ul {
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
}

.welcome{
    padding: 1rem;
}

.pictureOfDay{
    margin-top: 3rem;
}

img{
    max-width: 1000px;
    max-height: 780px;
}
